{% extends "base.html" %}
{% block title %}Detalle paciente{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">

      <h3 class="mb-3">{{ paciente.nombre }}</h3>

      <p class="mb-1">
        <strong>Fecha de nacimiento:</strong>
        {{ paciente.fecha_nacimiento.strftime("%Y-%m-%d") if paciente.fecha_nacimiento else "" }}
      </p>
      <p class="mb-1"><strong>Edad:</strong> {{ paciente.edad }}</p>
      <p class="mb-1"><strong>Género:</strong> {{ paciente.genero }}</p>
      <p class="mb-1"><strong>Registrado por:</strong> {{ paciente.usuario.nombre }}</p>
      <p class="mb-3">
        <strong>Registrado:</strong>
        {{ paciente.fecha_registro.strftime("%Y-%m-%d %H:%M") if paciente.fecha_registro else "" }}
      </p>

      <div class="d-flex flex-wrap gap-2 mt-3">

        <a class="btn btn-secondary" href="{{ url_for('pacientes.pacientes_lista') }}">
          Volver
        </a>

        <a class="btn btn-primary"
          href="{{ url_for('actividad_fisica.lista', paciente_id=paciente.id) }}">
          Actividad física
        </a>

        <a class="btn btn-primary"
          href="{{ url_for('actividad_cognitiva.detalle', paciente_id=paciente.id) }}">
          Actividad Cognitiva
        </a>

        <a class="btn btn-primary" 
          href="{{ url_for('actividad_nutricional.index', paciente_id=paciente.id) }}">
          Actividad Nutricional
        </a>

        <a class="btn btn-primary" 
          href="{{ url_for('area_medica.index', paciente_id=paciente.id) }}">
          Actividad Medica
        </a>

        <a class="btn btn-primary"
          href="{{ url_for('actividad_social.actividad_social_lista', paciente_id=paciente.id) }}">
          Actividad social
        </a>

        <a href="{{ url_for('historial_clinico.historiales_clinicos_lista', paciente_id=paciente.id) }}"
          class="btn btn-primary">
          Historial clínico
        </a>

        {% if current_user.rol == "superadmin" %}
        <form method="POST"
              action="{{ url_for('pacientes.pacientes_eliminar', paciente_id=paciente.id) }}"
              class="d-inline"
              onsubmit="return confirm('¿ELIMINAR COMPLETAMENTE ESTE PACIENTE Y TODO SU EXPEDIENTE? Esta acción no se puede deshacer.');">

            <button type="submit" class="btn btn-danger">
                Eliminar paciente
            </button>
        </form>
        {% endif %}

      </div>

    </div>
  </div>
</div>
{% endblock %}