{% extends "base.html" %}
{% block title %}Detalle paciente{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-body">

      <h3 class="mb-3">{{ paciente.nombre }}</h3>

      <p class="mb-1">
        <strong>Fecha de nacimiento:</strong>
        {{ paciente.fecha_nacimiento.strftime("%Y-%m-%d") if paciente.fecha_nacimiento else "" }}
      </p>
      <p class="mb-1"><strong>Edad:</strong> {{ paciente.edad }}</p>
      <p class="mb-1"><strong>Género:</strong> {{ paciente.genero }}</p>
      <p class="mb-1"><strong>Registrado por:</strong> {{ paciente.usuario.nombre }}</p>
      <p class="mb-3">
        <strong>Registrado:</strong>
        {{ paciente.fecha_registro.strftime("%Y-%m-%d %H:%M") if paciente.fecha_registro else "" }}
      </p>

      <div class="d-flex flex-wrap gap-2 mt-3">

        <a class="btn btn-secondary" href="{{ url_for('pacientes.pacientes_lista') }}">
          Volver
        </a>

        <a class="btn btn-primary"
          href="{{ url_for('actividad_fisica.actividad_fisica_lista', paciente_id=paciente.id) }}">
          Actividad física
        </a>

        <button class="btn btn-outline-primary" disabled>
          Actividad cognitiva
        </button>

        <button class="btn btn-outline-primary" disabled>
          Actividad nutricional
        </button>

        <button class="btn btn-outline-primary" disabled>
            Actividad médica
        </button>

        <a class="btn btn-primary"
          href="{{ url_for('actividad_social.actividad_social_lista', paciente_id=paciente.id) }}">
          Actividad social
        </a>

        <a href="{{ url_for('historial_clinico.historiales_clinicos_lista', paciente_id=paciente.id) }}"
          class="btn btn-primary">
          Historial clínico
        </a>


      </div>

    </div>
  </div>
</div>
{% endblock %}